.filter{
    width: 25%;
    padding-top: 40px;
}
.search{
    background-color: #1a4721;
    color: white;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 20px;
}
.sub2{
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    font-size: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 50px;
}
.signup1{
    width: 45%;
}